.page-wrapper.sections{
   height: 100%; 
   width: 100% ;
   position: fixed;
   overflow-y:scroll;
   text-align: center;
}

.courseData{
  font-family: 'Nunito';
  font-size: 35px;
  font-weight: bolder;
}

.sectionsLine{
  font-family: 'Nunito';
  font-size: 35px;
  font-weight: bolder;
}

.sectionsData{
  font-family: 'Nunito';
  
}