.page-wrapper.user-courses{
   height: 100%; 
   width: 100% ;
   
   overflow-y:scroll;
   text-align: center;
}

.courseTitle{
  font-family: 'Nunito';
  font-weight: bold;
  margin-top: 10px;
}

.courseDescription{
  font-family: 'Nunito';
}

.courseDate{
  font-family: 'Nunito';
}

.hereAre{
  font-family: 'Nunito';
  margin-top: '20px';
}