#title {
 margin-bottom: 20px;
}

#available-from {
 margin-top: 20px; 
}

.pane {
  margin-top: 20px;
  color: slategrey;
 }

 .createTitle{
   font-family: 'Nunito';
 }

 .createEditor{
  width: 65%;
  margin: auto;
}

.createAvailable{
  font-family: 'Nunito';
}