.updateTitle{
    font-size: 20px;
    font-family: 'Nunito';
}

.updateTitleField{
    max-width: 500px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px
}

.updateContent{
    font-size: 20px;
    font-family: 'Nunito';
}

.updateContentField{
    max-width: 500px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px
}

.availableFrom{
    font-size: 20px;
    font-family: 'Nunito';

}

.input{
    border-radius: 5px;
    font-family: 'Nunito';
    text-align: center;
}

.textField{
    width:'auto';
    border-radius: 5px;
    text-align: center;
    width: auto;
}

.order{
    font-size: 20px;
    font-family: 'Nunito';
}