.titleLabel{
    font-size: 40px;
}

.updateTitleField{
    max-width: 500px;
}

.sizeTwenty{
    font-size: 20px;
}

.updateButton{margin: 3px;}

.newLabel{
    font-size: 20px;
}

#courseTitle{
    max-width: 500px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
}