.paginationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 8rem;
}

.paginationButtons a {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  border: 1px grey;
  color: grey;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: grey;
}

.paginationActive a {
  color: white;
  background-color: grey;
}

.card.mb-3.page-wrapper{
  background: #cc9a48;
  

}

.allCourses{
  font-weight: bolder;
  font-style: 'Nunito';
  font-size: 40px;
}

.wrapTag{
  justify-content: center;
  margin-bottom: 20px;
}

.textField{
  border: solid white 3px;
  border-radius: 5px;
  width: 400px;
} 

.secondWrapper{
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 30px;

}