#teachersWrap{
    background: #cc9a48;
    
}

#secondWrap{
    margin: 35px;
}

#cardWrap{
    margin-top: 50px;
    
}

#cardWrapStudent{
    margin-top: 50px;
}

#teachersLinkFirst{
    text-decoration: none;
    color: black;
    font-family: 'Nunito';
}

#teachersLinkSecond{
    text-decoration: none;
    color: black;
    font-family: 'Nunito';
    font-size: 30px;
}

#propsDescription{
    font-family: 'Nunito';
    font-size: 20px;
}

#fontOnly{
    font-family: 'Nunito';
}

#teachersLinkThree{
    font-weight: bolder;
    color: black;
    font-family: 'Nunito';
    
}

#teachersLinkFour{
    font-weight: bolder;
    color: black;
    font-family: 'Nunito';
}

#studentsWrap{
    background: #cc9a48;
}

#studentsWrapSecond{
    margin: 30px;
}

#secondCard{
    border-radius: 5px;
}

#studentLinkFirst{
    text-decoration: none;
    color: black;
    
}

#studentLinkSecond{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Nunito';
}

#cardThree{
    border-radius: 5px;
}

#enrollUnenrollButton{
    margin-top: 20px;
    margin-bottom: 10px;
}