.LogOutIcon {
    font-size: 50px;
    color:#e2e2e2;
    position: absolute;
    right: 730px;
    top: -10px
   
}   

.profileInfo {
    color: #e2e2e2;
    text-align: left;
    font-style: 'Nunito';

}

.tab {
    transition: all ease 0.3s;
}

.tab:hover{
    transform: translateY(-10px);
}

.mt-5{
    font-size: 35px;
    border-radius: 50px;
}

.firstName{
    color: black;
    font-family: 'Nunito';
}

.role{
    color: black;
    font-family: 'Nunito';
}
