
#link {
 text-decoration: none;
 font-size: 30px;
 color: black;
}

.sectionDate{
  font-family: 'Nunito';
  margin-top: 40px;
}

.message{
  font-family: 'Nunito';
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
margin-left: 20px;
}

.sectionTitle{
  font-family: 'Nunito';
}

