#email {
  font-weight: bold;
  text-shadow: black;
  text-align: center;
}

.main-container {
  margin-left: 300px;
  justify-content: center;
  width: 100%; 
} 

.opinionEmail {
  font-family: 'Nunito';
}

.opinionContent {
  font-family: 'Nunito';
}

.opinionDate {
  font-family: 'Nunito';
}

.textUserEmail {
  font-family: 'Nunito';
}

.yourResponse {
  font-family: 'Nunito';
}

.title {
  font-family: 'Nunito';
  font-size: 30px;
}

.opinionId {
  font-family: 'Nunito';
}


.userEmail {
  font-family: 'Nunito';
}

.contentOpinion {
  font-family: 'Nunito';
}


.dateOpinion {
  font-family: 'Nunito';
}



