
.userEmail {
    font-weight: bolder;
    font-family: 'Nunito';
}


.userId {
    font-weight: bolder;
    font-family: 'Nunito';
}


.userName {
    
    font-family: 'Nunito';
}


.userDate {
    
    font-family: 'Nunito';
}