

.App {
  text-align: center;
  position: relative;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}

.image {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  position:absolute;
  top:200px;
  
}

.right-arrow {
  position:absolute;
  top:50%;
  right:50px;
  font-size: 3rem;
  color:black;
  z-index:10;
  cursor:pointer;
  user-select:none;
}
.left-arrow {
  position:absolute;
  top:50%;
  left:820px;
  font-size: 3rem;
  color:black;
  z-index:10;
  cursor:pointer;
  user-select:none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.overImg {
font-size: 30px;
font-weight: bold;

position: absolute;
right: 200px;
top: 100px;
}

.LearnMoreButton {
  position: absolute;
  top:150px;
  left :350px;
}


.firstHeader {
  height: 200px;
  width: 100%;
  padding-top: 50px;
  background-color: #E9EEF6;

}

.page-wrapper {
  padding-top: 85px;
  padding-bottom: 85px;
}

.title {
  font-weight: bold;
  margin: 1rem 4rem 1.25rem 1rem;
  justify-content: center;
  width: 100%; 

}

.modal-dialog {
  margin: 4.75rem auto;
}